---
import { Image} from 'astro:assets';
import Gspeed from '../../assets/phone_gspeed.webp';
---

<section class="lg:h-[608] py-14 px-4">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-0 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-[6rem]">
        <div class="col-lg-6 lg:order-last sm:order-last rounded-lg">
          <Image 
          class="max-w-[120%]" 
          src={Gspeed} 
          alt='¿Por qué usar Desarrollo Web en tu marca?'
          />
        </div>
  
        <div class="lg:py-12 sm:py-0 lg:pr-[2.6rem]">
          <h2 class="lg:text-[2.6rem] lg:leading-[3.5rem] font-bold sm:text-3xl lg:text-left sm:text-center">¿Por qué usar Desarrollo Web en tu marca?</h2>
  
          <div class="list">
            <ul class="mt-8 space-y-8 font-medium">
                <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                      Sitio Web Optimizado.
                    </p>
                </li>
                <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                      Mejora la experiencia del usuario.
                    </p>
                </li>
                <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                      Genera más ventas.
                    </p>
                </li>
                <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                      Evita la duplicación de sitio web.
                    </p>
                </li>
                <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                      Te posiciona en los motores de búsqueda.
                    </p>
                </li>
                <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"></path>
                      </svg>
                  </div>
                  <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem] leading-5 ">
                    Permite tener una buena imagen.
                  </p>
              </li>
              <li class="flex items-start mt-5 lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                    <svg class="w-6 h-6 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <p class="ml-3 lg:text-[1.5rem] sm:text-[1.5rem]  leading-5 ">
                  Mejora tu servicio con el cliente.
                </p>
            </li>
            </ul>
        </div>
  

        </div>
      </div>
    </div>
  </section>