---
import { Image} from 'astro:assets';
import laptop from '../../assets/laptop.webp'
---

<section class="lg:h-[608] bg-secondary py-14 px-4">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-0 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-[6rem]">
        <div class="relative h-64 overflow-hidden lg:order-first sm:order-last rounded-lg lg:h-full">
          <Image 
          class="" 
          src={laptop} 
          alt='¿Qué es Desarrollo Web?'
          />
        </div>
  
        <div class="lg:py-12 sm:py-0 lg:pr-[2.6rem]">
          <h2 class="text-3xl font-bold sm:text-3xl text-white lg:text-left sm:text-center">¿Qué es Desarrollo Web?</h2>
  
          <p class="mt-4 text-white lg:text-lg sm:text-base lg:text-justify sm:text-center py-8">
            Es la <b>creación</b> de sitios web que permiten a muchas marcas tener una mejor visibilidad frente a sus clientes, pues éstos deben ser rápidos, con una agradable apariencia, un buen desempeño, entre otras cualidades. Para ello, es necesario contar con el conocimiento y la experiencia, y en BytesArtDev lo encontrarás.
          </p>
  

        </div>
      </div>
    </div>
  </section>