<section class="lg:h-[445px] py-14 px-4">
  <div class="mx-auto max-w-screen-xl pb-8 sm:px-6 grid grid-cols-1 flex-col items-center content-center">
  <p class="lg:text-[1.5rem] sm:text-[1.1rem] lg:text-center sm:text-left lg:py-4 md:py-0 font-bold leading-tight">El diseño del sitio web habla mucho de la marca, pues éste debe ser atractivo, rápido y que se adecúe en cualquier dispositivo. Recuerda que una página web bien diseñada permite que más clientes vuelvan al sitio.
  </p>
</div>

  <div class="mx-auto max-w-screen-xl lg:py-0 sm:px-6 lg:px-[4.6rem]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-[6rem] sm:gap-6">
      <div class="rounded-lg">
        <p class="lg:text-lg sm:text-base lg:text-justify sm:text-left">Muchos <b>clientes potenciales</b> se deciden por una marca al ver el diseño de su web y si ésta tienen la información adecuada que buscan en ese momento. Si tienes un buen desarrollo de tu sitio web, tus ventas están aseguradas.
        </p>
      </div>
      <div class="">
        <p class="lg:text-lg sm:text-base lg:text-justify sm:text-left">En <b>BytesArtsDev</b> contamos con un equipo de <b>especialistas en Desarrollo Web</b> que te permita fijar objetivo de tu marca y, luego, comenzar con la creación de tu web, innovando en el diseño, elaborando páginas creativas, atractivas y que resuelvan las necesidades del cliente. Asimismo, éste factor le permite obtener un mejor Posicionamiento SEO, logrando tener mayor visibilidad en motores de búsqueda.
        </p>
      </div>
    </div>
  </div>

  </section>
  