<section class="lg:h-[445px]">
  <div class="mx-auto max-w-screen-xl py-8 sm:px-6 sm:py-12 lg:py-0 grid grid-cols-1 flex-col items-center content-center">
  <p class="lg:text-[1.6rem] sm:text-[1.3rem]  text-center lg:py-12 md:py-0 font-bold">Desarrollaremos la página web que necesita tu empresa para estar en las primeras posiciones de los buscadores. <br> Te garantizamos una buena experiencia del usuario para que se conviertan en potenciales clientes.
  </p>
</div>

  <div class="mx-auto max-w-screen-xl lg:py-8 sm:px-6 sm:py-0 lg:px-8">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
      <div class="rounded-lg">
        <p class="text-1">Muchos clientes potenciales se deciden por una marca al ver el diseño de su web y si ésta tienen la información adecuada que buscan en ese momento. Si tienes un buen desarrollo de tu sitio web, tus ventas están aseguradas.
        </p>
      </div>
      <div class="">
        <p class="text-1">En <b>BytesArtsDev</b> contamos con un equipo de <b>especialistas en Desarrollo Web</b> que te permita fijar objetivo de tu marca y, luego, comenzar con la creación de tu web, innovando en el diseño, elaborando páginas creativas, atractivas y que resuelvan las necesidades del cliente. Asimismo, éste factor le permite obtener un mejor Posicionamiento SEO, logrando tener mayor visibilidad en motores de búsqueda.
        </p>
      </div>
    </div>
  </div>

  </section>
  