---
const InfoButton = <button class="btn btn-info">Info</button>;

const SuccessButton = <button class="btn btn-success">Success</button>;

const WarningButton = <button class="btn btn-warning">Warning</button>;

const ErrorButton = <button class="btn btn-error">Error</button>;

export {InfoButton, SuccessButton, WarningButton, ErrorButton};


---

<ul class="buttons">
    <li><button class="btn btn-info">Info</button></li>
    <li><button class="btn btn-success">Success</button></li>
    <li><button class="btn btn-warning">Warning</button></li>
    <li><button class="btn btn-error">Error</button></li>
</ul>
