---

---
<section id="portada" class="bg-third py-12 lg:px-16 md:px-16 sm:px-8">
    <div class="contenedor relative">
        
        <div class="grid grid-cols-1 lg:pt-5 sm:pt-0 px-[5px] gap-4 lg:grid-cols-2 lg:gap-[12em] justify-items-center">
            <div class="rounded-lg z-[1] max-w-[500px] lg:py-12 sm:py-0">
            <h1 class="text-[50px] font-extrabold mb-12">Desarrollo Web en Trujillo, Perú</h1>
            <p class="text-[1.4em] pr-[2.2rem]">Desarrollaremos la <span class="font-bold">página web</span> que necesita tu empresa para estar en las primeras posiciones de los buscadores. <br> Te garantizamos una buena <span class="font-bold">experiencia del usuario</span> para que se conviertan en potenciales clientes.
            </p>
            </div>
            <div class="rounded-lg z-[4]">

                <section id="form" class="ml-[10rem]-lg">

                    <div class="mx-auto max-w-[480px] md:px-4 md:pl-6 md:pr-4">
                      <div class="grid grid-cols-1 gap-x-16 gap-y-8 items-baseline justify-items-center">
                  
                        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">

                        <h1 class="text-[1.8em] font-extrabold p-3">Solicitar Información</h1>

                          <form action="#" class="space-y-4">
                            <div>
                              <label class="sr-only" for="name">Name</label>
                              <input
                                class="w-full rounded-lg border-gray-200 p-3 text-[1.2em]"
                                placeholder="Nombre y Apellido"
                                type="text"
                                id="name"
                              />
                            </div>
                  
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-1">
                  
                              <div>
                                <label class="sr-only" for="phone">Phone</label>
                                <input
                                  class="w-full rounded-lg border-gray-200 p-3 text-[1.2em]"
                                  placeholder="Teléfono"
                                  type="tel"
                                  id="phone"
                                />
                              </div>

                              <div>
                                <label class="sr-only" for="email">Email</label>
                                <input
                                  class="w-full rounded-lg border-gray-200 p-3 text-[1.2em]"
                                  placeholder="Correo Electrónico"
                                  type="email"
                                  id="email"
                                />
                              </div>

                            </div>
                  
                            <div>
                              <label class="sr-only" for="message">Message</label>
                  
                              <textarea
                                class="w-full rounded-lg border-gray-200 p-3 text-[1.2em]"
                                placeholder="Mensaje"
                                rows="4"
                                id="message"
                              ></textarea>
                            </div>

                            <div class="flex items-start px-4 mt-8">
                                <input class="mt-1" id="termsConditions" type="checkbox">
                                <label class="text-md text-gray-500 ml-2" for="termsConditions">Acepto las políticas de privacidad y Uso de Datos.</label>
                            </div>
                  
                            <div class="mt-4">
                              <button
                                type="submit"
                                class="inline-block w-full rounded-lg bg-link px-5 py-3 font-medium text-white"
                              >
                              Enviar mensaje
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>
    </div>
    <div class="flex justify-center text-center absolute top-[20%] md:left-[40%]">
    <img class="lg:opacity-100 sm:opacity-40" src="/src/assets/developer/developer_1x.webp" alt="developer">
    </div>
</section>
