---
const  title  = 'Desing System with Tailwind';
---

<!doctype html>
<html data-theme="night" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Swiper JS -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
	</head>
	<body>
		
		<slot />


	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: system-ui, sans-serif;
		padding-top: 70px;
		font-family: system-ui, sans-serif;
		/*background: #13151a;*/
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>